build/

### CMake ###

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake


### C ###
*.o
*.ko
*.obj
*.elf

*.gch
*.pch

*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.dSYM/
*.su


### JetBrains ###

.idea/

*.iml
*.iws

/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


### Vim ###

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
tags


### KomodoEdit ###

*.komodoproject
.komodotools


### Windows ###

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


### Linux ###

*~
.fuse_hidden*
.directory
.Trash-*


